@use "sass:math";
@use '../abstracts' as *;

// Font-faces

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local(''),
			url('../assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
			url('../assets/fonts/roboto-v30-latin-regular.woff') format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: local(''),
			url('../assets/fonts/roboto-v30-latin-700.woff2') format('woff2'),
			url('../assets/fonts/roboto-v30-latin-700.woff') format('woff');
}

@font-face {
	font-family: 'Playfair Display';
	font-style: normal;
	font-weight: 700;
	src: local(''),
			url('../assets/fonts/playfair-display-v29-latin-700.woff2') format('woff2'),
			url('../assets/fonts/playfair-display-v29-latin-700.woff') format('woff');
}

// Base styles

body {
	font-family: 'Roboto';
	color: var(--clr-neutral-800);
}

h1, h2, h3, h4 {
	font-family: 'Playfair Display';
	font-weight: 700;
	line-height: 1.25;
	text-align: center;
	color: var(--clr-neutral-900);
}

h1 {
	color: var(--clr-primary-800);
	letter-spacing: -.01em;
	@include mq(s) {
		text-align: left;
		letter-spacing: 0;
	}
}

h2 {
	line-height: 1.5;
	text-transform: uppercase;
	letter-spacing: math.div(1em, 14);
}

h4 {
	text-align: left;
	@include mq(s) {
		line-height: 1.5;
	}
}

label {
	color: var(--clr-neutral-900);
}

figcaption {
	color: var(--clr-neutral-600);
	text-align: center;
}

// Abstract font-sizes

body {
	font-size: var(--fs-300);
}

h1 {
	font-size: var(--fs-700);
}

h2 {
	font-size: var(--fs-100);
}

h3 {
	font-size: var(--fs-600);
}

h4 {
	font-size: var(--fs-500);
}

label {
	font-size: var(--fs-200);
}

small, figcaption {
	font-size: var(--fs-100);
}