---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const title = "Blog Homepage";
const scriptsrc = "https://identity.netlify.com/v1/netlify-identity-widget.js";
const allPosts = await Astro.glob('../pages/blog/*.md');
const sortedPosts = allPosts.sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
const featuredPosts = sortedPosts.filter((post) => post.frontmatter.tags.includes('Featured'));

---

<BaseLayout title={title} scriptsrc={scriptsrc}>
	<main class="main">
		<section class="intro">
			<div class="container">
				<div class="intro__inner even-columns">
					<div class="intro__text inner-container">
						<h1 class="intro__title">Welcome to my blogie!</h1>
						<p class="intro__description mt-400 tac s_tal">I use this space to document my adventures in front-end development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
						<p class="intro__description mt-p tac s_tal">Below are some of my favourite articles, or you can go to the blog page to see my most recent posts.</p>
						<div class="intro__buttons mt-400">
							<a href="#featured" class="button button-primary intro__button intro__button-featured">Featured articles</a>
							<a href="/blog" class="button button-secondary intro__button">Most recent articles</a>
						</div>
					</div>
					<div class="intro__image">
						<img src="assets/img/intro.png" alt="Intro Image" class="intro-pic">
					</div>
				</div>
			</div>
		</section>
		<section class="articles" id="featured">
			<div class="container">
				<div class="articles__inner">
					<div class="articles__headline">
						<h2 class="articles__title s_dn">Blog</h2>
						<h2 class="articles__title dn s_db h1">Featured articles</h2>
						<h3 class="articles__subtitle s_dn mt-h3">Blog Section Headline Goes Here</h3>
						<p class="articles__subtitle dn s_db mt-400 tac">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
					</div>
					<div class="articles__posts mt-700">
						{featuredPosts.map(post => (
							<BlogPost post={post}></BlogPost>
						))}
					</div>
				</div>
			</div>
		</section>
	</main>
</BaseLayout>

<script src="../js/main.js"></script>


