<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<a aria-label="home" href="/" class="footer__logo">
				<svg width="130" height="31" viewBox="0 0 130 31" class="footer__logo-icon fill-footer-logo">
					<use href="#logo"></use>
				</svg>
			</a>
			<p class="footer__copyright clr-neutral-0 fs-copyright">© 2020 Company Name. All rights reserved.</p>
		</div>
	</div>
</footer>