<header class="header">
	<div class="container">
		<div class="header__inner">
			<a aria-label="home" href="/" class="header__logo">
				<svg width="130" height="31" viewBox="0 0 130 31" class="header__logo-icon">
					<use href="#logo"></use>
				</svg>
			</a>
			<nav class="header__nav">
				<ul role="list" aria-label="Primary" class="header__list fs-100">
					<li class="header__list-item">
						<a href="/" class="text-link header__list-link">Home</a>
					</li>
					<li class="header__list-item">
						<a href="/blog" class="text-link header__list-link">Blog</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>